

body {
  background-color: #d63012;
}

.jumbotron h1{
	color: #e2fa0b;

}

.jumbotron{
	padding-top: 1%;
	background-color:rgb(241, 133, 10)
}

img {
margin-top: 5%;
  width: 20%;
}

.submitFont{
	color: rgb(10, 122, 10);
}










